*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.bin
.gradle/4.1/javaCompile/taskJars.bin
*.bin
.gradle/4.1/javaCompile/javaCompile.lock
*.bin
*.lock
*.bin
